body { 
  font-family: "Google Sans Flex", sans-serif; 
  background:#f2f6fb; 
  margin:0; 
}
main {
  max-width: 1200px;
  margin: 60px auto;
  background:#fff;
  padding:32px;
  border-radius:8px;
}
h1 {
  color:#04AA6D;
  margin-top:0;
}
mark { 
  background:#04AA6D;
}
.button1 { 
  background:#04AA6D; 
  color:#fff; 
  border:none; 
  padding:24px 48px; 
  border-radius:999px; 
  cursor:pointer; 
}
.button1:hover { 
  background:#028a56; 
}
.button1:active{
  background:#00FF00;
}

.button2 { 
  background:#04AA6D; 
  color:#fff; 
  border:none; 
  padding:24px 48px; 
  border-radius:999px; 
  cursor:pointer; 
}
.button2:hover { 
  background:#028a56; 
}
.button2:active{
  background:#00FF00;
}
